
<section id="about">
    <div class="row">
        <div class="three columns">
            <img class="profile-pic" src="images/ApAvatar.png" alt="" />
        </div>

        <div class="nine columns main-col">
            <h2>About Me</h2>
            <p>
                I am a full stack developer at <a href="http://www.flipswitch.com">FlipSwitch</a>.
                Before going into software developement I worked as a Systems Administrator at Hoehn Motors in San Diego.
                I studied for my Bachelor of Science in Computer Science at National University.
                I am currently working on a several web projects that will be soon available in my portfolio.
                When I am not coding, I enjoy hiking, fishing and getting outdoors.
            </p>
            <div class="row">
                <div class="columns contact-details">
                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Aaron Purtill</span><br>
                        <span>
                            Currently Phoenix, AZ<br>
                            Relocating to Seattle, WA
                        </span><br>
                        <span>(480)489-9438</span><br>
                        <span>aaronpurtill@gmail.com</span>
                    </p>
                </div>
                <div class="columns download">
                    <p>
                        <a href="~/files/APresume.pdf" target="_blank" class="button"><i class="fa fa-download"></i>Download Resume</a>
                    </p>
                </div>
            </div> 
        </div>
    </div>
</section> 
