@{
}
<!-- About Section -->
<section id="about">

    <div class="row">

        <div class="three columns">

            <img class="profile-pic" src="images/ApAvatar.png" alt="" />

        </div>

        <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>
                I am a full stack developer at <a href="http://www.flipswitch.com">FlipSwitch</a>.
                Before going into software developement I worked as a Systems Administrator at Hoehn Motors in San Diego.
                I studied for my Bachelor of Science in Computer Science at night and weekends.
                I am currently working on a couple web projects that will be soon be available in my portfolio below.
                When I am not coding, I enjoy hiking, fishing and getting outdoors.  

            </p>

            <div class="row">

                <div class="columns contact-details">

                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Aaron Purtill</span><br>
                        <span>
                            Currently Phoenix, AZ<br>
                            Relocating to Seattle, WA
                        </span><br>
                        <span>(480)489-9438</span><br>
                        <span>aaronpurtill@gmail.com</span>
                    </p>

                </div>

                <div class="columns download">
                    <p>
                        <a href="~/files/APresume.pdf" target="_blank" class="button"><i class="fa fa-download"></i>Download Resume</a>
                    </p>
                </div>

            </div> <!-- end row -->

        </div> <!-- end .main-col -->

    </div>

</section> <!-- About Section End-->

<!-- Resume Section -->
<section id="resume">

    <!-- Education-->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>National University</h3>
                    <p class="info">Bachelor of Science in Computer Science <span>&bull;</span> <em class="date">January 2011</em></p>

                    <p>
                        <b>University Courses:</b>
                        <ul>
                            <li>Data Structures & Algorithms, OOD & Analysis </li>
                            <li>Programming C++, Advanced Java Programming</li>
                            <li>Database Mgmt. Systems, Wireless Appl. Development</li>
                            <li>OS Theory & Design, Computer Architecture</li>
                        </ul>

                    </p>

                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="twelve columns">

                    <h3>MicroSkills</h3>
                    <p class="info">Microsoft IT Certifications <span>&bull;</span> <em class="date">2005</em></p>

                    <p>
                        <b>IT Certifications:</b>
                        <ul>
                            <li>MCSE, MCSA, MCDST, MCP</li>
                            <li>N+, A+, CIW</li>
                        </ul>
                    </p>
                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Education -->
    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">
                <div class="twelve columns">
                    <h3><a href="http://www.flipswitch.com">FlipSwitch</a></h3>
                    <p class="info">Full Stack Developer <span>&bull;</span> <em class="date">October 2010 - Present</em></p>

                    <p>
                        + Developing cutting edge technologies that provide a unique and engaging approach to managing the lifecycle of students, faculty and staff through the entire education process.
                    </p>
                    <p>
                        + Instrumental member of development team building and implementing innovative System Information System (SIS); attendance management, student workbook export, search functionality, group projects, gradebook, new features, and enhancements.
                    </p>
                    <p>
                        + Designed and developed with team member’s attendance modules, messaging, student community, optimization, enhancements, and student group projects for Parent Student Portal (PSP).
                    </p>
                    <p>
                        + Create SQL database schema, stored procedures, and table designs for select features.
                        Demonstrated ability to excel in team-oriented and independent environments.
                        Heavily focused on designing optimized services and front end development for end users.
                    </p>
                </div>
            </div> <!-- item end -->

            <div class="row item">
                <div class="twelve columns">
                    <h3><a href="http://www.lrlo.com">LRLO</a></h3>
                    <p class="info">Junior Software Developer <span>&bull;</span> <em class="date">January 2010 - May 2010</em></p>

                    <p>
                        + C# development of Internal apps for employees on day to day tasks like document searching, messaging, data manipulation input/output, time sheet management.
                        Developed a time card desktop application for employees.
                        Plan, design and implement SQL database objects, such as view, store procedures, queries.
                        SSIS package design, utilization of ETL tools and discovering patterns.

                    </p>
                </div>

            </div> <!-- item end -->

            <div class="row item">
                <div class="twelve columns">
                    <h3><a href="http://http://www.hoehnmotors.com/">Hoehn Motors</a></h3>
                    <p class="info">Systems/Network Administrator <span>&bull;</span> <em class="date">July 2006 - January 2010</em></p>

                    <p>
                        + Contributed to server migration coordination; communicated scheduled downtimes and presented information to stakeholders.
                    </p>
                    <p>
                        + Migrated and installed Active Directory from ad hoc to a network for 400+ workstations at nine locations.
                    </p>
                    <p>
                        + Spearheaded development and implementation of Intranet site allowing users to submit trouble tickets.
                    </p>
                    <p>
                        + Collaborated with team to streamline IT operations, increase productivity, and improve uptime.
                    </p>
                </div>
            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Work -->
    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>

        <div class="nine columns main-col">

            <p>
                I think my skills are sharp. But I know there is always going to be someone who is much smarter.
                I always enjoy learning from someone who is wiser than me. I enjoy working in a collaborative environment with like minded team members.
            </p>

            <div class="bars">

                <ul class="skills">
                    <li><span class="bar-expand csharp"></span><em>C#</em></li>
                    <li><span class="bar-expand knockout"></span><em>Knockout</em></li>
                    <li><span class="bar-expand javascript"></span><em>JavaScript</em></li>
                    <li><span class="bar-expand css"></span><em>CSS</em></li>
                    <li><span class="bar-expand html5"></span><em>HTML5</em></li>
                    <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                    <li><span class="bar-expand sql"></span><em>SQL</em></li>
                </ul>

            </div><!-- end skill-bars -->

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

</section> <!-- Resume Section End-->
<!-- Portfolio Section
================================================== -->
<section id="portfolio">

    <div class="row">

        <div class="twelve columns collapsed">

            <h1>Check Out Some of My Works.</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-01" title="">
                            <img alt="" src="images/portfolio/wackyBirds/WackyBirdsLogo.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>IOS</h5>
                                    <p>Developer, Objective-C, XCode</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div> <!-- item end -->

                @*<div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-02" title="">
                            <img alt="" src="images/portfolio/console.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Console</h5>
                                    <p>Web Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="columns portfolio-item">
                    <div class="item-wrap">

                        <a href="#modal-03" title="">
                            <img alt="" src="images/portfolio/judah.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Judah</h5>
                                    <p>Webdesign</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->*@
                         

            </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->
        <!-- Modal Popup
         --------------------------------------------------------------- -->

        <div id="modal-01" class="popup-modal mfp-hide">
        <div style=" max-width:400px; overflow:auto; ">
            <img  style="max-height:300px; float:left;" src="images/portfolio/wackyBirds/Vulture.png" alt="" />
            <img  style="max-height:300px; float:left;" src="images/portfolio/wackyBirds/Ostrich.png" alt="" />
            <img  style="max-height:300px; float:left;" src="images/portfolio/wackyBirds/Duck.png" alt="" />
            <img  style="max-height:300px; float:left;" src="images/portfolio/wackyBirds/Raven.png" alt="" />

        </div>
           

            <div class="description-box">
                <h4>Wacky Birds</h4>
                <p>Wacky Birds offers 25 challenging wacka-bird levels. Each level increasing in difficulty. You must be fast and precise to earn points to complete the level but be cautious enough not to use up all your lives.</p>
                <span class="categories"><i class="fa fa-tag"></i>Developer, Objective-C, Cocos2D</span>
            </div>

            <div class="link-box">
                <a href="http://www.zlandgames.com">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->

        @*<div id="modal-02" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="images/portfolio/modals/m-console.jpg" alt="" />

            <div class="description-box">
                <h4>Console</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
            </div>

            <div class="link-box">
                <a href="http://www.behance.net">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-02 End -->

        <div id="modal-03" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="images/portfolio/modals/m-judah.jpg" alt="" />

            <div class="description-box">
                <h4>Judah</h4>
                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                <span class="categories"><i class="fa fa-tag"></i>Branding</span>
            </div>

            <div class="link-box">
                <a href="http://www.behance.net">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-03 End -->*@
          
    </div> <!-- row End -->

</section> <!-- Portfolio Section End-->

