

<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>Check Out Some of My Works.</h1>

            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-01" title="">
                            <img alt="" src="images/portfolio/wackyBirds/WackyBirdsLogo.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>IOS</h5>
                                    <p>Developer, Objective-C, XCode</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-02" title="">
                            <img alt="" src="images/coming-soon.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Tic Tac Toe</h5>
                                    <p>Web Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
                <div class="columns portfolio-item">
                    <div class="item-wrap">
                        <a href="#modal-03" title="">
                            <img alt="" src="images/coming-soon.jpg">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Feedback Form</h5>
                                    <p>Web Development</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
            </div> >
        </div>

        <div id="modal-01" class="popup-modal mfp-hide">
            <div style="margin-left:70px;">
                <img style="margin:3px; max-height:280px; " src="images/portfolio/wackyBirds/Vulture.png" alt="Vulture Level" />
                <img style="margin:3px; max-height:280px; " src="images/portfolio/wackyBirds/Ostrich.png" alt="Ostrich Level" />
                <img style="margin:3px; max-height:280px; " src="images/portfolio/wackyBirds/Duck.png" alt="Duck Level" />
                <img style="margin:3px; max-height:280px; " src="images/portfolio/wackyBirds/Raven.png" alt="Raven Level" />
            </div>
            <div class="description-box">
                <h4>Wacky Birds</h4>
                <p>Wacky Birds offers 25 challenging wacka-bird levels. Each level increasing in difficulty. You must be fast and precise to earn points to complete the level but be cautious enough not to use up all your lives.</p>
                <span class="categories"><i class="fa fa-tag"></i>Developer, Objective-C, Cocos2D</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/RhinoGreenFin/2011--IOS-Wacky-Birds">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div>
        <div id="modal-02" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/coming-soon.jpg" alt="coming soon" />
            <div class="description-box">
                <h4>Tic Tac Toe</h4>
                <p>HTML5 based Tic Tac Toe game using Signalr for multi user transmission.</p>
                <span class="categories"><i class="fa fa-tag"></i>Signalr, Knockout, HTML5</span>
            </div>
            <div class="link-box">
                <a href="https://github.com/RhinoGreenFin">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div>
        <div id="modal-03" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="images/coming-soon.jpg" alt="coming soon" />
            <div class="description-box">
                <h4> Feedback Form</h4>
                <p>Knockout.js based html5 feedback form.</p>
                <span class="categories"><i class="fa fa-tag"></i>HTML5, Knockout, C#, SQL</span>
            </div>

            <div class="link-box">
                <a href="https://github.com/RhinoGreenFin">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div>
    </div>
</section>

