
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/fs-portfolio.css" rel="stylesheet" />
</head>
<body>


    <h1 style="width:auto; text-align:center;"><u>FlipSwitch Projects</u></h1>

    <div style="height:30px;"></div>
    <hr style="border:solid 1px; border-color:gray; width:95%;" />
    <div style="height:50px;"></div>


<h1>Projects - Attendance</h1>

    <ul class="rig columns-2">
        <li>
            <img src="/images/flipswitch/pspAttendance.PNG" />
            <h3>Parent Student Portal - Attendance</h3>
            <p>This is the view on the PSP for Attendance. The student or parent will be submitting.</p>

        </li>
        <li>
            <img src="/images/flipswitch/attendanceSetting.png" />
            <h3>Student Information System - Attendance Settings</h3>
            <p>This is the settings for attendance on the SIS.</p>

        </li>
        <li>

            <img src="/images/flipswitch/attendanceHomePage.png" />
            <h3>Student Information System - Attendance Home Page</h3>
            <p>This is the attendance submission for Faculty Collector for attendance on the SIS.</p>
        </li>
        <li>
            <img src="/images/flipswitch/studentAttendancePage.png" />
            <h3>Student Information System - Attendance Student</h3>
            <p>This is the student attendance on student page for attendance on the SIS.</p>
        </li>
    </ul>
    <div style="height:50px;"></div>
    <hr style="border:solid 1px; border-color:gray; width:95%;" />
    <div style="height:50px;"></div>

    <h1>PSP - Projects</h1>

    <ul class="rig columns-2">
        <li>
            <img src="~/images/flipswitch/pspDashboard.png" />
            <h3>Parent Student Portal - Dashboard</h3>
            <p>This is the view on the PSP student dashboard</p>

        </li>
        <li>
            <img src="/images/flipswitch/pspCommunity.png" />
            <h3>Parent Student Portal - Community</h3>
            <p>This is the view on the PSP student community.</p>
        </li>
    </ul>

    <div style="height:50px;"></div>
    <hr style="border:solid 1px; border-color:gray; width:95%;" />
    <div style="height:50px;"></div>

    <h1>SIS - Projects</h1>

    <ul class="rig columns-2">
        <li>
            <img src="~/images/flipswitch/courseActivity.png" />
            <h3>Student Information System - CourseActivity</h3>
            <p>This is the Course Activity. Holds gradebook, extra credit, GPA, Course info.</p>

        </li>
        <li>
            <img src="/images/flipswitch/custompropertyGroupAndQuestion.png" />
            <h3>Student Information System - Custom Properties</h3>
            <p>This is the custom properties on the SIS.</p>

        </li>
        <li>
            <img src="~/images/flipswitch/feedback.png" />
            <h3>Student Information System - Feedback</h3>
            <p>This feedback submission for the SIS.</p>
        </li>
        <li>
            <img src="~/images/flipswitch/employeePage.png" />
            <h3>Student Information System - Employee Page</h3>
            <p>This is the employee page for the SIS.</p>
        </li>
        <li>
            <img src="~/images/flipswitch/studentSearch.png" />
            <h3>Student Information System - Student Search</h3>
            <p>This student search page for the SIS.</p>
        </li>
        <li>
            <img src="~/images/flipswitch/courseenrollStudent.png" />
            <h3>Student Information System - Student Enroll</h3>
            <p>This is the student enroll view for the SIS.</p>
        </li>
    </ul>
    <div style="height:50px;"></div>
    <hr style="border:solid 1px; border-color:gray; width:95%;" />
    <div style="height:50px;"></div>

</body>
</html>
